---
title: UP KEM
---

%section.tron
  .video-holder
    %video#landing-video{width: "100%", autoplay: "", loop: "", muted: ""}
      %source{:src => "assets/images/short.mp4", :type => "video/mp4"}
  .video-overlay
    .container
      .tron-heading
        %h1 UP KEM: Life in Color
        %a.thing Check It Out!
        %a.thing Apply Now!

%section.testimonials
  .container
    .row
      %h1.text-center Testimonials
      .col-md-2.col-md-offset-1
        = image_tag "testi_1.jpg", class: "testimonial-image img-circle"
      .col-md-8
        %p.testimonial &#8220I believe the children are our future, teach them well and let them lead the way, show them all the beauty they possess inside.&#8221
        %p.testimonial.pull-right Whitney Houston, UP Diliman, 1st Place, CPA Board Exam 2013



%section.events
  .container
    %h1.text-center Our Events
    .row
      - data.events.each_with_index do |event, index|
        = content_tag :div, :class => ["col-md-5", ("col-md-offset-1" if index % 2 == 0)].compact.join(" ") do
          %h3.event-name= event.name
          .event-photo
            = image_tag event.photo, class: "img-center"
          %p.event-description= event.description
